@page "/embed/above-fold"

@inject UserCircuitProvider UserCircuitProvider

@if (_userCircuit?.OrgUser is null)
{
    return;
}

<div id="embed-above-the-fold">
    <div id="chat-container">
        <ChatGroups />
        <ChatBox />
    </div>
    <div>
        @if (_userCircuit.OrgUser.RoleConnection?.Nodes?.Any(n => n.Slug == "admin") ?? false)
        {
            <StreamerControls />
        }
        else
        {
            <div>
                Chatter
            </div>
            <label>
                <input type="checkbox" @bind="_userCircuit.ShowGrouping" /> Show Grouping
            </label>
        }
    </div>
</div>

@code {

    UserCircuit? _userCircuit;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        _userCircuit = await UserCircuitProvider.GetAsync();

        StateHasChanged();
    }
}

